<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <style media="screen">
    hr.style15 {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }
    </style>
</head>
{% extends 'base.html' %}
{% block products %}
  <div class="animated zoomIn">
    <div class="content" style="width: 60%; margin: 0 auto">
      <div class="col s12 m7">
       <div class="card horizontal">
         <div class="card-stacked">
           <div class="card-content">
             {% if cart %}
               {% for i in cartNew %}
                 <p>{{ i.0 }}</p>
                 <p>Quantity: x {{ i.1 }} Price: {{ i.2 }}</p>
                 <hr class="style15">
               {% endfor %}
               <h4>Total: {{ totalAmount }}</h4>
               <button class="waves-effect waves-light btn modal-trigger" data-target="modal1">Checkout</button>
             {% else %}
               <h3>Your Cart is Empty!</h3>
             {% endif %}
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Pay with Stripe</h4>
            </div>
            <div class="modal-body">
              <!-- Credit card form -->
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png"><br> Payment Details</h3>
                      </div>
                      <div class="panel-body">
                        <form role="form" id="payment-form" action="/payment" method="POST">
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="form-group">
                                <label for="cardNumber">CARD NUMBER</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                  <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-7 col-md-7">
                              <div class="form-group">
                                <label for="expMonth">EXPIRATION DATE</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                  <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                  <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                              <div class="form-group">
                                <label for="cvCode">CV CODE</label>
                                <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <button class="btn btn-success btn-lg btn-block" type="submit">Pay: ₹{{ totalAmount }}</button>
                            </div>
                          </div>
                          <div class="row" style="display:none;">
                            <div class="col-xs-12">
                              <p class="payment-errors"></p>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  <script type="text/javascript">


  </script>
{% endblock %}
